[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipdb = "*"

[packages]
Flask = "==0.12.1"
Flask-Mail = "==0.9.1"
Flask-Migrate = "==2.0.3"
Flask-Script = "==2.0.5"
Flask-SQLAlchemy = "==2.2"
Flask-WTF = "==0.14.2"
mysql-connector-python = "*"
requests = "==2.18.4"
gunicorn = "*"
Flask-Cors = "*"

[requires]
python_version = "3.6"
