{% from 'helpers/_forms.html' import generate_fields with context %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>{% block title %}{% endblock %}Wallaviso</title>
                <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?ver={{ range(1, 100000) | random }}">
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
		<meta name="author" content="Andros Fenollosa">			
		<meta name="description" content="Se el primero en comprar en Wallapop. Programa tus busquedas y recibe avisos a tu email cuando un producto sea publicado. Compra a los mejores precios.">
	</head>
	<body id="{% block page %}{% endblock %}">
		<div class="container-fluid">
			<header>
				<nav class="navbar navbar-fixed-top">
				  <div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-main" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					  <a class="navbar-brand" href="/">
						<i class="fa fa-bell" aria-hidden="true"></i>
					   Wallaviso</a>
					</div>
					<div class="collapse navbar-collapse" id="collapse-main">
						<ul class="nav navbar-nav navbar-right">
						{% if 'user' not in session %}
							{% if request.path != url_for('index') %}
								<li><a href="{{ url_for('index') }}">Inicio</a></li>
							{% endif %}
							<li><a href="{{ url_for('signup') }}">Registro</a></li>
							<li><a href="{{ url_for('login') }}">Entrar</a></li>
							<li><a href="https://programadorwebvalencia.com/#contact" target="_blank">Contacto</a></li>
						{% else %}
							<li><a href="{{ url_for('dashboard') }}">Busquedas</a></li>
							<li><a href="{{ url_for('notify_history') }}">Historial</a></li>
                            <li><a href="https://twitter.com/@wallaviso">Noticias</a></li>
                            {% if 'user' in session and session['user']['rol_id'] > 1 %}
                            <li><a href="https://github.com/tanrax/wallaviso" target="_blank">Soporte</a></li>
						    {% endif %}
							<li><a href="https://programadorwebvalencia.com/#contact" target="_blank">Contacto</a></li>
							<li><a href="{{ url_for('logout') }}">Salir</a></li>
						{% endif %}
					  	</ul>
						{% if 'user' in session %}
							<p class="navbar-text navbar-right" id="username">Bienvenido {{ session['user']['username'] }}</p>
						{% endif %}
					</div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
				</nav>
			  </header>
				{% block body %}{% endblock %}
			<footer>
				2017 | Autor: <a href="https://programadorwebvalencia.com">Andros Fenollosa</a>
			</footer>
		</div>
		<script src="{{ url_for('static', filename='js/all.js') }}?ver={{ range(1, 100000) | random }}"></script>
		{# Flashed messages #}
			{% with messages = get_flashed_messages(with_categories=true) %}
			  {% if messages %}
			  	<script>
				{% for category, message in messages %}
					vex.dialog.alert({message: '{{ message }}', className: 'vex-theme-os {{ category }}'});
				{% endfor %}
				</script>
			  {% endif %}
			{% endwith %}
		{# End Flashed messages #}
	</body>
</html>
