@import 'colors';
@import 'fonts';
@import 'animations';
@import 'mixins';
@import 'mediaquery';
@import 'bootstrap';
@import 'font-awesome/main';
@import 'select2/select2';
@import 'vendor/vex';
@import 'vendor/vex-theme-os';

body {
	font-family: fuente_contenido;
	font-size: 16px;
	padding-top: 4em;
}

a {
	color: $color_wallapop;	
	&:hover {
		text-decoration: none;
		color: lighten($color_wallapop, 10%);
	}
}

input {
	outline: none;
}

.select2 {

		width: 100%;
	@include mobile {
		width: 100%;
	}
}

.form-control {
	transition: .5s all;
	&:focus {
		border-color: $color_wallapop;
		color: $color_wallapop;	
		box-shadow: none;
	}
}

.color_wallaviso {
	color: $color_wallapop;	
}

.container .jumbotron, .container-fluid .jumbotron {
	border-radius: 0;
}

.container-fluid {
	padding: 0;
	.row {
		margin: 0;
	}
}

.btn {
	background-color: $color_wallapop;
	border: 0;
	padding: .7em;
	font-size: 1em;
	border-radius: 23px;
	&:focus, &:active, &:hover, &:active:hover {
   		outline: none;
   		background: lighten($color_wallapop, 10%);
	}
	&.btn-danger {
		background: $color_rojo;
		&:focus, &:active, &:hover {
			background: lighten($color_rojo, 10%);
		}
	}
}

.vex.vex-theme-os {
	&.danger {
		.vex-content {
			border-top-color: $color_rojo;
		}
	}
	.vex-content {
		border-top-color: $color_wallapop;
	}
	.vex-dialog-message {
		font-family: fuente_contenido;
	}
	.vex-dialog-button.vex-dialog-button-primary {
		font-family: fuente_contenido;
		background: $color_wallapop;
		text-transform: capitalize;
	}
}

header {
	.navbar {
		background: transparentize($color_wallapop, 0.4);
	}
	#collapse-main {
		border-bottom: 1px solid $color_blanco;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 0;
	}
	.navbar-right {
		margin-right: 0;
	}
	.navbar-toggle .icon-bar {
		border: 1px solid $color_wallapop;
	}
	.navbar-brand {
		font-family: fuente_logo;
		text-transform: uppercase;
		color: $color_blanco;
		&:hover {
			color: darken($color_blanco, 10%);
		}
		i {
			animation: vibrate 1s linear 0s infinite both alternate;
		}
	}
	.navbar-collapse.collapse.in {
		transition: 1s all;
		background: $color_wallapop;
		text-align: center;
	}
	.navbar-nav a {
		color: $color_blanco;
		text-align: center;
		&:hover {
			color: darken($color_blanco, 10%);
		}
	}
	.nav>li>a:focus, .nav>li>a:hover {
		background-color: initial;
	}
	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
		background-color: initial;
	}
	#username {
		font-weight: bold;
    	margin-right: 1em;
	}
}

body#home {
	padding-top: 0;
	.btn {
		font-size: 1.5em;
	}
	#portada {
		height: 100vh;
		background: {
			image: url(../img/background.jpg);
			size: cover;
		}
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: $color_blanco;
		text-align: center;
		margin-bottom: 0;
		#titulo_wallapop {
			color: $color_wallapop;
			@include border_text($color_blanco);
		}
		
	}
	section#informacion {
		text-align: center;
		padding: 2em 0;
		background: $color_wallapop;
		color: $color_blanco;
		i {
			padding-top: .5em;
			font-size: 3em;
		}

	}

	section#nosotros {
		padding: 3em 0;
		@include mobile {
			text-align: center;
		}
		h2 {
			margin-top: 3em;
		}
	}
	section#pasos {
		padding: 3em 0;
		background: $color_wallapop;
		color: $color_blanco;
		h2 {
			margin-top: 1.5em;
		}
		@include mobile {
			text-align: center;
		}
		img {
			@include mobile {
				margin-top: 5em;
			}
		}
	}
}

body#login {
	.btn.btn-danger, #button_signup {
		margin-top: 1em;
	}
}

body#searchs {
	form .btn {
		width: 3em;
		border-radius: .3em;
		&.btn-success {
			@include mobile {
				width: 100%;
				margin-bottom: 3em;
			}
		}
		
	}
	.btn.next {
		margin-top: 1.6em;
		border-radius: .5em;
		width: 3em;
		height: 3em;
		@include mobile {
			width: 100%;
		}
	}
	.list-group-item {
		padding: {
			top: 2em;
			bottom: 2em;
		}
		@include mobile {
			width: 100%;
		}
		.btn {
			margin-top: -10px;
			border-radius: .3em;
		}
	}
	table {
		margin-top: 3em;
	}
	.form-inline {
		.form-group {
			width: 80%;
			@include mobile {
				width: 100%;
			}
			label {
				@include mobile {
					text-align: center;
				}
			}
			input {
				width: 86%;
				@include mobile {
					width: 100%;
				}
			}
		}
		@include mobile {
			width: 100%;
		}
	}
	#help_programa {
		@include mobile {
			text-align: center;
    		width: 100%;
		}
	}
	#number_wallavisos {
		@include mobile {
			text-align: center;
		}
		.badge {
			font-size: .7em;
		}
	}
	.price {
		padding-top: 2em;
		font-weight: bold;
		font-size: 1.2em;
	}
	section#confirm {
		h3, .row>div {
			margin: 0;
			padding: .7em;
			@include mobile {
				text-align: center;
			}
			.btn {
				margin-top: .6em;
				@include mobile {
					text-align: center;
					width: 100%;
				}
			}
		}
	}
}

footer {
	text-align: center;
	padding: 3em 0;
}
