{% extends 'layouts/master.html' %}
{% block page %}home{% endblock %}
{% block body %}
<div class="jumbotron" id="portada">
	<h1><span id="titulo_wallapop">Wallapop<span> <i class="fa fa-arrow-right"></i></span> <i class="fa fa-rss-square rss"></i></h1> 
	<p>
		Programa tus busquedas y recibe un feed. Se el primero en comprar en Wallapop.
	</p>
	<a href="{{ url_for('login') }}" class="btn btn-primary">Entrar</a>
</div>
<section id="informacion">
	<div class="container">
		<div class="row">
			<div class="col-xs-1 col-sm-3"></div>
			<div class="col-xs-10 col-sm-6">
                                <i class="fa fa-cog fa-spin"></i>
				<h2>Deja que trabaje por ti</h2>
				<p>
					La plataforma esta atenta a cualquier cambio. Te llegará un aviso a tu lector de RSS con toda la información importante. A un solo clic para comprar o regatear.
				</p>
			</div>
			<div class="col-xs-1 col-sm-3"></div>
		</div>
	</div>
</section>
<section id="nosotros">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 text-center">
				<img class="img-responsive" src="{{ url_for('static', filename='img/boss.jpg') }}" alt="Gato jefe">
			</div>
			<div class="col-sm-6">
				<h2>Gratis</h2>
				<p>
					Te damos una cuenta sin ningún coste. No nos mueve el dinero, solo que tengas un buen servicio. Sin anuncios, sin micropagos, sin vender tu información. A no ser que quieras más Wallavisos. ¡Tenemos cuentas premium! Solo queremos mantener los servidores.
				</p>
				<p>Si no nos cree pregunte a nuestro jefe programador gatuno.</p>
				<a href="{{ url_for('signup') }}" class="btn btn-primary">Únete</a>
			</div>
		</div>
	</div>
</section>
<section id="pasos">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>Busca, programa y descansa</h2>
				<p>
					Tan sencillamente sencillo que hasta los gorilas lo utilizan.
				</p>
				<ul>
					<li>Realiza la busqueda que deseas</li>
					<li>Pulsa en el botón: <strong>Wallaviso</strong></li>
				</ul>
				<h3>Pasos opcionales</h3>
				<ul>
					<li>Pide un Martini revuelto, no agitado.</li>
					<li>Túmbate en un hamaca.</li>
					<li>Ponte unas gafas de Sol.</li>
					<li>Espera el sonido de nuevo artículo.</li>
				</ul>
			</div>
			<div class="col-sm-6 text-center">
				<img class="img-responsive" src="{{ url_for('static', filename='img/monkey.jpg') }}" alt="Gorila">
			</div>
		</div>
	</div>
</section>
{% endblock %}
