{% extends 'layouts/master.html' %}
{% block body %}
<div class="jumbotron" id="portada">
	<h1>Se el primero en comprar</h1>
	<p>
		Programa tus busquedas y recibe un email cuando se venda el artículo en Wallapop.
	</p>
	<a href="{{ url_for('signup') }}" class="btn btn-primary">Regístrate</a>
</div>
<section id="informacion">
	<div class="container">
		<div class="row">
			<div class="col-xs-1 col-sm-3"></div>
			<div class="col-xs-10 col-sm-6">
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
				<h2>Deja que trabaje por ti</h2>
				<p>
					La plataforma esta atenta a cualquier cambio. Te llegará un email con toda la información importante. A un solo clic para comprar o regatear.
				</p>
			</div>
			<div class="col-xs-1 col-sm-3"></div>
		</div>
	</div>
</section>
<section id="nosotros">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 text-center">
				<img class="img-responsive" src="{{ url_for('static', filename='img/free.jpg') }}" alt="Gratis">
			</div>
			<div class="col-sm-6">
				<h2>Gratis</h2>
				<p>
					No nos mueve el dinero, solo que tengas un buen servicio. Sin anuncios, sin micropagos, sin vender tu información.
				</p>
				<button class="btn btn-primary">Únete</button>
			</div>
		</div>
	</div>
</section>
<section id="competencia">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>Nuestra competencia es mejor que nosotros</h2>
				<p>
					Dolor odio earum dolorem aut cupiditate. Ex sequi illum expedita tempore repellendus reprehenderit Quis placeat ipsum reprehenderit provident veritatis? Impedit doloribus iste mollitia voluptatem odit. Perferendis id debitis laudantium illo
				</p>
				<button class="btn btn-primary">Únete</button>
			</div>
			<div class="col-sm-6 text-center">
				<img class="img-thumbnail" src="{{ url_for('static', filename='img/ciudad1.jpg') }}" alt="Ciudad">
			</div>
		</div>
	</div>
</section>
<section id="portafolio">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<a href="#" id="webs" class="fondo">
					<div class="texto"><span>Webs</span></div>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="#" id="apps" class="fondo">
					<div class="texto"><span>Apps</span></div>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="#" id="newsletters" class="fondo">
					<div class="texto"><span>Newsletters</span></div>
				</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}
