{% extends 'layouts/master.html' %}
{% block page %}home{% endblock %}
{% block body %}
<div class="jumbotron" id="portada">
	<h1>Se el primero en <span id="titulo_wallapop">Wallapop</span></h1>
	<p>
		Programa tus busquedas y recibe un email cuando se venda el artículo en Wallapop.
	</p>
	<a href="{{ url_for('signup') }}" class="btn btn-primary">Regístrate</a>
</div>
<section id="informacion">
	<div class="container">
		<div class="row">
			<div class="col-xs-1 col-sm-3"></div>
			<div class="col-xs-10 col-sm-6">
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
				<h2>Deja que trabaje por ti</h2>
				<p>
					La plataforma esta atenta a cualquier cambio. Te llegará un email con toda la información importante. A un solo clic para comprar o regatear.
				</p>
			</div>
			<div class="col-xs-1 col-sm-3"></div>
		</div>
	</div>
</section>
<section id="nosotros">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 text-center">
				<img class="img-responsive" src="{{ url_for('static', filename='img/free.jpg') }}" alt="Gratis">
			</div>
			<div class="col-sm-6">
				<h2>Gratis</h2>
				<p>
					No nos mueve el dinero, solo que tengas un buen servicio. Sin anuncios, sin micropagos, sin vender tu información.
				</p>
				<button class="btn btn-primary">Únete</button>
			</div>
		</div>
	</div>
</section>
<section id="pasos">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>Busca, programa y descansa</h2>
				<p>
					Tan sencillamente sencillo que te preguntarás como has podido vivir antes sin él.	
				</p>
				<ul>
					<li>Realiza la busqueda que deseas</li>
					<li>Pulsa en el botón: <strong>Wallaviso</strong></li>
				</ul>
				<h3>Pasos opcionales</h3>
				<ul>
					<li>Pide un Martini revuelto, no agitado.</li>
					<li>Túmbate en un hamaca.</li>
					<li>Ponte unas gafas de Sol.</li>
					<li>Espera el sonido de nuevo email.</li>
				</ul>
			</div>
			<div class="col-sm-6 text-center">
				<img class="img-responsive" src="{{ url_for('static', filename='img/easy.jpg') }}" alt="Fácil">
			</div>
		</div>
	</div>
</section>
{% endblock %}
