{% extends 'layouts/master.html' %}
{% block page %}login{% endblock %}
{% block title %}Entrar | {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Entrar</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form action="" method="post">
				{{ generate_fields(form) }}
				<input type="submit" class="btn btn-success center-block" value="Identificarse">
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<a class="btn btn-success" id="button_signup" href="{{ url_for('signup') }}">Crear cuenta</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<a class="btn btn-danger" href="{{ url_for('forgot_password') }}">He olvidado la contraseña</a>
		</div>
	</div>

</div>
{% endblock %}
