{% extends 'layouts/email.html' %}
{% block title %}Activar cuenta{% endblock %}
{% block body %}
<p>Hola {{ username }}!,</p>
<p>gracias por crear una cuenta en Wallaviso. Estas a un paso de ser el más rápido. Pulsa en el siguiente botón para activar tu cuenta.</p>
<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
	<tr>
	  <td align="center">
		<table border="0" cellpadding="0" cellspacing="0">
		  <tbody>
			<tr>
				<td> <a href="{{ token }}" target="_blank">Activar</a> </td>
			</tr>
		  </tbody>
		</table>
	  </td>
	</tr>
  </tbody>
</table>
<p align="center">¿No funciona? Pulsa en el siguente enlace.</p>
<p align="center">{{ token }}</p>
{% endblock %}
