{% extends 'layouts/email.html' %}
{% block title %}Renovar busqueda{% endblock %}
{% block body %}
<p>Hola {{ search.user.username }}!,</p>
<p>tu busqueda programada <strong>{{ search.name }}</strong> lleva 2 semanas activa. ¿Deseas mantenerla?</p>
<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
	<tr>
	  <td align="center">
		<table border="0" cellpadding="0" cellspacing="0">
		  <tbody>
			<tr>
				<td> <a href="http://{{ domain }}{{ url_for('update_expiration', id=search.id, token=search.token) }}" target="_blank">Renovar</a> </td>
			</tr>
		  </tbody>
		</table>
	  </td>
	</tr>
  </tbody>
</table>
<p>En caso contrario de desactivará automáticamente en 2 días.</p>
<p align="center">¿No funciona? Pulsa en el siguente enlace.</p>
<p align="center">http://{{ domain }}{{ url_for('update_expiration', id=search.id, token=search.token) }}</p>
{% endblock %}
