{% extends 'layouts/master.html' %}
{% block page %}searchs{% endblock %}
{% block title %}Busquedas | {% endblock %}
{% block body %}
<div class="container" id="appSearchs">
	<form method="post" id="form_add">
		<input type="hidden" name="add" value="{{ form.name.data }}">
		<input type="hidden" name="lat" value="{% if request.form['lat'] %}{{ request.form['lat'] }}{% else %}0{% endif %}">
		<input type="hidden" name="lng" value="{% if request.form['lng'] %}{{ request.form['lng'] }}{% else %}0{% endif %}">
		<input type="hidden" name="distance" value="">
		<input type="hidden" name="max_price" value="{% if request.form['price_max'] %}{{ request.form['price_max'] }}{% else %}0{% endif %}">
	</form>
	<div class="row">
		<div class="col-xs-12">
			<h1>Avisos programados</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4" v-if="results" id="separation">
			<h2>Buscar</h2>
			<form method="post" class="form" id="form_search">
				{{ generate_fields(form) }}
				<input type="hidden" name="lat" value="{% if request.form['lat'] %}{{ request.form['lat'] }}{% endif %}">
				<input type="hidden" name="lng" value="{% if request.form['lng'] %}{{ request.form['lng'] }}{% endif %}">
				<div class="form-group text-right">
					<span id="geoposition">
						Obteniendo geolocalización
						<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
						<span class="sr-only">Obteniendo posi</span>
					</span>
					<button id="search_button" type="submit" name="search" class="btn btn-success">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</div>
			</form>
			<h2 id="number_wallavisos">
				<span class="color_wallaviso">Wallavisos</span> activos <span class="badge">{{ searchs_len }}</span>
			</h2>
			<ul class="list-group">
				{% if searchs %}
					<form method="post">
					{% for item in searchs %}
					<li class="list-group-item">
						<div class="row">
							<div class="col-xs-10">
								<h4>{{ item.name }}</h4>
								<p>
									<strong>Distancia:</strong> 
									{% if item.distance == '0_1000' %}
										Muy cerca
									{% elif item.distance == '0_5000' %}
										En mi zona
									{% elif item.distance == '0_10000' %}
										En mi ciudad
									{% else %}
										Sin límite
									{% endif %}
								</p>
								<p>
									<strong>Precio máximo:</strong> 
									{% if item.max_price == 0.0 %}
										Ninguno
									{% else %}
										{{ "{:.2f}".format(item.max_price) | replace('.00','') | replace('.',',') }} &euro;
									{% endif %}
								</p>
							</div>
							<div class="col-xs-2">
								<button type="submit" name="delete" class="btn btn-danger pull-right" value="{{ item.id }}">
									<i class="fa fa-times" aria-hidden="true"></i>
								</button>
							</div>
						</div>
					</li>
					{% endfor %}
					</form>
				{% endif %}
			</ul>
			<div id="count_notifys">
				<h2>
					Avisos diarios permitidos
				</h2>
				{% if num_notifys < LIMIT_NOTIFYS %}
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="{{ LIMIT_NOTIFYS - num_notifys }}" aria-valuemin="0" aria-valuemax="{{ LIMIT_NOTIFYS - num_notifys }}" style="width: {{ LIMIT_NOTIFYS * (LIMIT_NOTIFYS - num_notifys) }}%;">
					  {{ LIMIT_NOTIFYS - num_notifys }}/{{ LIMIT_NOTIFYS }}
				  </div>
				</div>
				{% else %}
				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					<span>No te quedan, espere a mañana.</span>
				  </div>
				</div>
				{% endif %}
			</div>
		</div>
		<main class="col-sm-8">
		{% if results %}
			<section v-if="results" class="row">
				<div class="col-xs-12">
					<h3>Crea nuevo <span class="color_wallaviso">Wallaviso</span></h3>
					{% for item in results[:LIMIT_RESULTS] %}
						<div class="row">
							<div class="col-xs-12">
								<h4><strong>{{ item.title }}</strong></h4>
							</div>
							<div class="col-sm-4">
								<img class="img-responsive" src="{{ item.pictureURL }}" alt="Imagen">
							</div>
							<div class="col-sm-5">
								<p>
									{{ item.description }}
								</p>
							</div>
							<div class="col-sm-2 text-center price">
								{{ item.price }}
							</div>
							<div class="col-sm-1">
								<button class="btn btn-success next pull-right"  v-on:click="next('{{ item.title }}')">
									<i class="fa fa-arrow-right" aria-hidden="true"></i>
								</button>
							</div>

						</div>
						<hr>
					{% endfor %}
				</div>
			</section>
			<section v-if="confirm_add" id="confirm">
				<div class="row">
					<div class="col-xs-12">
						<h2>Crear nuevo <span class="color_wallaviso">Wallaviso</span></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 text-right">
						<h3><strong>[[ search ]]</strong></h3>
					</div>
					<div class="col-sm-6">
						<button class="btn btn-success pull-left"  v-on:click="add(search)">
							<i class="fa fa-plus" aria-hidden="true"></i> Crear
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 text-center">
						<h3>O</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 text-right">
						<h3><strong>[[ search_item ]]</strong></h3>
					</div>
					<div class="col-sm-6">
						<button class="btn btn-success pull-left" v-on:click="add(search_item)">
							<i class="fa fa-plus" aria-hidden="true"></i> Crear
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<hr>
						<button class="btn btn-success" v-on:click="back">
							<i class="fa fa-arrow-left" aria-hidden="true"></i> Volver
						</button>
					</div>
				</div>
			</section>
			</main>
			{% else %}
				<div class="row" id="not_results">
					<div class="col-xs-12 text-center">
						<i class="fa fa-bell-slash" aria-hidden="true"></i>
						<h3>No hay resultados</h3>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% if request.method == 'POST' %}
<script>
(function() {
	if(window.innerWidth < 768) window.scrollTo(0, document.querySelector('#separation').scrollHeight);
})();
</script>
{% endif %}
{% endblock %}
