{% extends 'layouts/master.html' %}
{% block page %}searchs{% endblock %}
{% block title %}Busquedas | {% endblock %}
{% block body %}
<div id="app_search">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Busquedas</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
					<strong>Cras justo odio</strong>
					<button class="btn btn-danger pull-right">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
			  </li>
			</ul>
			</div>
			<div class="col-sm-6">
				<form action="" method="post">
					{{ generate_fields(form) }}
					<button class="btn btn-success pull-left">
						<i class="fa fa-plus" aria-hidden="true"></i>
					</button>
					<button v-on:click="search" type="button" class="btn btn-success pull-right">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Imagen</th>
							<th>Nombre</th>
							<th>Descripción</th>
							<th>Precio</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
